body {
    margin: 0;
}

.blog-header {
    background-color: rgb(55,55,55);
    padding: 10px;
    border-bottom: 2px solid black;
}


.blog-section {
    width: 80%;
    margin: auto;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 2.2rem;
}
.blog-section section {
    margin: 40px auto 40px auto;
}
.blog-section section:first-child {
    margin-top: 30px;
}
.blog-section section:last-child {
    margin-bottom: 30px;
}

.blog-img {
    display: block;
    margin: auto;
    align-content: center;
    width: 512px;
    height: 512px;
}
.blog-vid {
    display: block;
    margin: auto;
    align-content: center;
    width: 512px;
    aspect-ratio: 16/9;
}

ul li {
    margin: 10px auto;
}

#back-button {
    color: white;
}

.blog-2person-dialog :nth-child(odd) {
    list-style: "A:   ";
}
.blog-2person-dialog :nth-child(even) {
    list-style: "B:   ";
}
.blog-dialog-no-deco {
    list-style: disc !important;
}

.blog-jump-navbar {
    display: grid;
    gap: 1rem;
}
.blog-jump-navbar * {
    border: black solid 1px;
    padding: 10px;
    margin: 10px;
    background-color: #2d2d2d;
    font-size: 1.3rem;
    cursor: pointer;
    color: whitesmoke;
}
.blog-jump-navbar *:hover {
    color: mediumpurple;
}